<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer  #drawer [mode]="'push'" [opened]="false">
    <div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton> Left (pre-checked)
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton> Middle
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton > Right
      </label>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <button (click)="drawer.toggle()" >click</button>
  </mat-drawer-content>


</mat-drawer-container>

